.home-container {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  margin-top: 90px;
}

.home-card {
  display: flex;
  flex-direction: column;
  background: #00285f;
  color: #fff;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 22px;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
}

.home-image-container {
  padding: 60px 30px 30px 30px;
}

.home-image-container svg {
  width: 244px;
  height: auto;
}

.home-subcard {
  display: flex;
  flex-direction: column;
  background: #ededed;
  margin-top: 21px;
  box-shadow: none;
  padding: 25px;
}

.home-subcard p {
  color: #585858;
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  border-radius: 5px;
  padding: 12px 36px;
}

.btn h6 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
    font-size: 18px;
  }

  .home-content-container h1 {
    width: 420px;
    font-size: 36px;
    margin-bottom: 0;
  }

  .home-content-container p {
    width: 420px;
  }

  .home-image-container {
    padding: 22px 100px 10px 100px;
  }

  .home-image-container svg {
    width: 333px;
  }

  .home-subcard {
    flex-direction: row;
    justify-content: center;
  }

  .home-subcard p {
    margin-left: 16px;
  }
}
