.home-container {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  margin-top: 90px;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00285f;
  color: #fff;
  padding: 60px 20px 50px 20px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-container h1 {
  width: 260px;
  font-size: 22px;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
  margin-bottom: 0;
}

.home-image-container svg {
  width: 244px;
  height: auto;
}

.home-subcard {
  display: flex;
  flex-direction: column;
  background: #ededed;
  margin-top: 21px;
  box-shadow: none;
  padding: 30px 50px;
}

.home-subcard p {
  color: #585858;
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  border-radius: 5px;
  padding: 12px 36px;
}

.btn h6 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .home-card {
    padding: 20px 60px 40px 60px;
  }

  .home-subcard {
    padding: 40px 80px;
  }

  .home-container {
    font-size: 18px;
  }

  .home-content-container h1 {
    width: 420px;
    font-size: 36px;
    margin-bottom: 0;
  }

  .home-content-container p {
    width: 420px;
  }

  .home-image-container svg {
    width: 333px;
  }

  .home-subcard {
    flex-direction: row;
    justify-content: center;
  }

  .home-subcard p {
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-card {
    padding: 80px 145px 75px 145px;
  }

  .home-subcard {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .home-card {
    padding: 80px 250px 125px 250px;
  }

  .home-image-container svg {
    width: 455px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row-reverse;
    padding: 85px 80px 85px 80px;
  }

  .home-content-container {
    padding: 0;
    text-align: left;
  }

  .home-image-container {
    padding: 0;
    margin-left: 65px;
  }

  .home-image-container svg {
    width: 333px;
  }
}
