.search-card {
  display: flex;
  flex-direction: row;
  background: #ededed;
  padding: 20px 10px;
  box-shadow: none;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-card input[type='text'] {
  padding: 10px 15px;
  font-size: 14px;
  border-color: transparent;
  border-radius: 5px 0px 0px 5px;
  width: 350px;
  height: 40px;
}

.search-card input[type='text']:hover {
  outline: none;
}

.search-card button {
  border-radius: 0px 5px 5px 0px;
  width: 80px;
  height: 40px;
}

.btn h6 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .search-card {
    padding: 40px 20px;
    max-width: 540px;
  }

  .search-card input[type='text'] {
    width: 320px;
  }

  .search-card button {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .search-card {
    max-width: 720px;
  }

  .search-card input[type='text'] {
    width: 515px;
  }
}

@media (min-width: 992px) {
  .search-card {
    max-width: 960px;
  }

  .search-card input[type='text'] {
    width: 585px;
  }
}

@media (min-width: 1200px) {
  .search-card {
    max-width: 1140px;
  }

  .search-card input[type='text'] {
    width: 800px;
  }
}

@media (min-width: 1400px) {
  .search-card {
    max-width: 1320px;
  }

  .search-card input[type='text'] {
    width: 900px;
  }
}
